---
layout: default

placeholder_colours:
  - background: "var(--uos-dark-violet)"
    color: "var(--uos-wave-white)"

---
<section class="section offset-header flex-fill" >
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8" markdown=1>

                {% if page.othernames and page.surname %}
                    <h2><a href="{{page.url}}">{{page.othernames}} {{page.surname}}</a></h2>
                {% endif %}

                {% if page.role %}
                    <h4>{{page.role}}</h4>
                {% endif %}

                {{ content }}

            </div>
            <div class="col-12 col-md-4">
                {% assign colours = page.placeholder_colours[0] %}
                {% include team_member_card.html person=page colours=colours %}
            </div>
        </div>
    </div>
</section>
